# Dependencies
node_modules/


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables (IMPORTANT)
.env
.env.*
!.env.example

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/

# Cache
.cache/
.parcel-cache/

# Coverage
coverage/

# Misc
*.pem